
/* Map link */
.org-slidetoggler .map a {
position:relative;
top:46px;
}
/* Date Bubbles */
#dates  {
	position:relative;
	margin-top:-500px;
	background-position:center center;
}
#dates ul {
	position:relative;
	bottom:32px;
}
#footer {
	margin-top:30px;
}